   <br />
   <br />
   <div class="footer_banner">&copy; 2008-2014 Deutsche Nationalbibliothek / German National Library, Invita d.o.o, Inštitut za novejšo zgodovino, ZRC SAZU
      </div>
  <br />
  <br />
 </body>
</html>
